
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    /* background-color: #EAEAEA; */
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  .loginbox{
    /* border: 5px solid rgb(15, 1, 1); */
    padding-top: 200px;
  }
  .textprimary{
      color:black;
      
  }
  /* for spinner shape */
  .textwhite{
      text-align: center;
      padding-top: 250px;
  }